/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2019, 10:07:35 PM
    Author     : chrismcclure
*/

            body, html {
                height: 100%;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            * {
                box-sizing: border-box;
            }
            
            .hero-image {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                    url("../img/alaska.jpg");
                height: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }

            .hero-text {
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
              color: white;
              font-weight: bold;
              border: 3px solid #f1f1f1;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 2;
              width: 80%;
              padding: 20px;
              text-align: center;
            }
            
            .menu{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: white;
            }

            li.menu{
                float: left;
            }

            li a.menu{
                display: block;
                color: #666;
                text-align: center;
                padding: 10px 288.6px;
                text-decoration: underline;
            }

            li a.menu:hover:not(.active) {
                background-color: #fee;
            }

            li a.active.menu{
                color: white;
                background-color: #3fa3af;
            }
            
            div#wrapper {
                width: auto;
                height: auto;
                margin: 0 auto;
                padding: 15px;
                border: 2px solid black;
                background-color: rgba(205, 205, 205, 0.7);
            }
            div#menu{
                width: 85%;
                height: auto;
                margin: 0 auto;
                padding: 0;
            }
            
            .clearfix::after {
                content: "";
                clear: both;
                display: table;
            }